extends layout.pug

block title
  title Books

block body
  h1 Books
  div.float-right
    form
      div.form-group.search
        label(for="search") Search:
        input(title="search" id="search" type="search" placeholder="Search")
  p
    a.btn.btn-success(href="/books/new") Create New Book
  table.table
    thead
      tr
        th
          span Title 
          a.sort.sort-title(href="")
            img(src="/static/images/icons8-sort-24.png")
        th
          span Author 
          a.sort.sort-author(href="")
            img(src="/static/images/icons8-sort-24.png")
        th
          span Genre 
          a.sort.sort-genre(href="")
            img(src="/static/images/icons8-sort-24.png")
        th
          span Year 
          a.sort.sort-year(href="")
            img(src="/static/images/icons8-sort-24.png")
    tbody
      each book in books
        tr
          td.title
            a(href=`/books/${book.id}`)= book.title
          td.author= book.author
          td.genre= book.genre
          td.year= book.year
  nav.container
    ul.pagination.pagination-lg.justify-content-center