<!DOCTYPE html>
html
  head
    block title
    link(rel="stylesheet", href="/static/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/static/stylesheets/style.css")
    link(rel="shortcut icon", href="/static/favicon.ico", type="image/x-icon")
  body
    block body
    script(src="/static/scripts/jquery-3.3.1.min.js")
    script(src="/static/scripts/bootstrap.bundle.min.js")